// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vignette{
	margin-top : 20px;
	margin-bottom : 20px;
	text-align : center;
}

.vignette-rounded{
	border-radius : 20px;
}

.imgContentSeparator{
	border-left : 1px solid #ccc;
}

.bloc-post{
	border: 1px solid #ccc;
    border-radius: 7px;
    margin-top : 15px;
    margin-bottom : 15px;
}

.auteur_date{
	display : inline-block;
	padding-left : 10px;
	font-size : 18px;
}

.postAction p{
	display : inline-block;
}

.a-home{
	margin-left : 10px;
	font-family: 'Indie Flower', cursive;
}

.date{
	padding-top : 35px;
}

.newPost{
	border: 2px solid #1ebf31;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff !important;
    font-weight: bold;
    background-color: #1ebf31;
}