// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vignette{
	margin-top : 20px;
	margin-bottom : 20px;
	text-align : center;
}

.vignette-rounded{
	border-radius : 20px;
}

.imgContentSeparator{
	border-left : 1px solid #ccc;
}

.bloc-post{
	border: 1px solid #ccc;
    border-radius: 7px;
    margin-top : 15px;
    margin-bottom : 15px;
}

.auteur_date{
	display : inline-block;
	padding-left : 10px;
	font-size : 18px;
}

.postAction p{
	display : inline-block;
}

.a-home{
	margin-left : 10px;
	font-family: 'Indie Flower', cursive;
}

.date{
	padding-top : 35px;
}

.btnGreen{
	border: 2px solid #1ebf31;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff !important;
    font-weight: bold;
    background-color: #1ebf31;
}

.btnGreen:hover{
	color: #1ebf31 !important;
	background-color: #fff
}

.page, .page a{
 	font-family: 'Montserrat', cursive;
 	text-align: center;
 	font-size: 14px;
}

.page a:hover {
	color: #1ebf31;
	font-size: 16px;
}

.btnGrey{
	border: 2px solid #ccc;
	padding: 7px 50px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #ccc;
    font-size: 16px;
}

.btnGrey:hover{
	color: #fff;
}

.edit{
	margin-top: 20px;
	text-align: center;
}

.edit form{
	display: inline-block;
}

.post{
	margin-top: 5%;
}

.bold{
	font-weight: bold;
}

.displayInline{
	display : inline-block;
}

.marginT10{
	margin-top: 10px;
}

.center{
	text-align: center;
}

.comShow{
	margin-top: 10px;
	margin-bottom :10px;	
}

.comShow p{
	font-family: 'Montserrat', cursive;
	font-size: 13px;
}

.borderCom{
	border: 1px solid #f5f5ef;
	border-radius: 25px;
	background-color: #f5f5ef;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bg-containerF{
	background-color: #ccc;
	padding-bottom: 30px;
	margin-top: 5%;
	margin-bottom: 3%
}