// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vignette{
	margin-top : 28px;
	text-align : center;
}

.vignette-rounded{
	border-radius : 20px;
}

.imgContentSeparator{
	border-left : 1px solid #ccc;
}

.bloc-post{
	border: 1px solid #ccc;
    border-radius: 7px;
    margin-top : 15px;
    margin-bottom : 15px;
}

.datePubli{
	display : inline-block;
	padding-left : 10px;
}

.postContent{
	text-align : center;
}

.postAction p{
	display : inline-block;
}